/* reset rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* layout */

.container{
    max-width: 900px;
    margin: 0 auto;
}

header{
    padding: 10px 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.main-menu{
    display: flex;
    gap: 10px;
}

.section{
    padding: 20px 0;
}

.container.small{
    max-width: 570px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-60{
    width: 60%;
}

.col-40{
    width: 40%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-16{
    width: calc(100% / 6);
}

.row.reverse{
    flex-direction: row-reverse;
}

footer > :first-child{
    padding: 3px 0 20px;
}

.footer-menu{
    padding: 15px 0 0;
    border-top: white solid 1px;
}

.footer-menu nav{
    padding-left: 0;
    padding-right: 0;
}

/* utilities */

.bg-light-blue{
    background-color: rgb(173, 216, 230);
}
.bg-orange{
    background-color: rgb(218, 165, 32);
}

.bg-mamie-pink{
    background-color: rgb(238, 130, 238);
}

.bg-blue{
    background-color: rgb(0, 0, 139);
}

.bg-clear-blue{
    background-color: rgb(30, 144, 255);
}

.bg-pink{
    background-color: rgb(255, 192, 203);
}

.bg-white{
    background-color: white;
}

.bg-gray{
    background-color: rgb(211, 211, 211);
}

.bg-dark-green{
    background-color: rgb(34, 139, 34);
}

.bg-black{
    background-color: rgb(35, 39, 42);
}

.bg-salmon{
    background-color: rgb(240, 128, 128);
}

.bg-jar-blue{
    background-color: rgb(32, 178, 170);
}

.bg-matt-pink{
    background-color: rgb(255, 182, 193);
}

.bg-acquamarine{
    background-color: rgb(127, 255, 212);
}

/* debug rules */

.debug .row > *{
    border: dashed 1px black;
}

.debug .row > *{
    min-height: 500px;
}

/* .big potrebbe non servire più una volta aggiunto il contenuto */
.debug .container.big{
    min-height: 900px;
}

.debug .container.small{
    min-height: 400px;
}