/* reset rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* layout */

.container{
    max-width: 700px;
    margin: 0 auto;
}

header{
    padding: 10px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main-menu{
    display: flex;
    gap: 10px;
}

/* utilities */

.bg-light-blue{
    background-color: rgb(173, 216, 230);
}
.bg-orange{
    background-color: rgb(218, 165, 32);
}

/* debug rules */

.debug{
    border: solid 2px black;
}

.row .debug{
    border: solid 2px red;
}

.col .debug{
    border: solid 2px blue;
}